<section class="profile-section">
  <a href="/"><img src="/images/mouse.jpeg" alt="don't move my cheese avatar" class="profile-image" /></a>
  <div class="profile-info">
    <h1>Max Ischenko</h1>
    <div class="bio-content">
      Спочатку ДОУ, тепер Djinni. Keep going &amp; підтримуй ЗСУ. 
    </div>
    <div class="profile-nav">
      <a href="/" {{#if (eq activePage "homezz")}}class="active"{{/if}}>Home</a>
      <a href="/writing" {{#if (eq activePage "writing")}}class="active"{{/if}}>Writing</a>
      <a href="#about">About me</a>
    </div>
  </div>
</section>
