<section class="profile-section">
  <a href="/"><img src="/images/mouse.jpeg" alt="don't move my cheese avatar" class="profile-image" /></a>
  <div class="profile-info">
    <h1>Max Ischenko</h1>
    <div class="bio-content">
      Спочатку ДОУ, тепер Djinni. Keep going &amp; підтримуй ЗСУ. 
    </div>
    <div class="profile-nav">
      <a href="/" {{#if (eq activePage "homezz")}}class="active"{{/if}}>Home</a>
      <a href="/links" {{#if (eq cf "link")}}class="active"{{/if}}>Links</a>
      <a href="/texts" {{#if (eq cf "text")}}class="active"{{/if}}>Posts</a>
      <a href="/articles" {{#if (eq cf "article")}}class="active"{{/if}}>Articles</a>
      <a href="/podcast" {{#if (eq cf "podcast")}}class="active"{{/if}}>Podcast</a>
    </div>
  </div>
</section>
